:root{
    --box-shadow: 0 20px 25px -5px rgba(92, 91, 91, 0.1), 0 8px 10px -6px rgba(73, 73, 73, 0.1);
    --background: #000;
    --border-radius: 10px;
  }

.Wrapper{
    width: 95%;
    margin: 3% auto;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: .3s all ease-in;

}
.container:hover{
    transform: translateY(-5px);
    border: none;
}
p{
    font-size: 13px;
}
h1{
    background: -webkit-linear-gradient(right, orangered,orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.4rem;
}
.ic-box{
    font-size: 2.5rem;
    color: orange;
}

@media screen and (max-width: 768px) {
    .container{
        display: flex;
        justify-content: flex-start;
    }
    h1{
        font-size: 1.2rem;
    }
    .ic-box{
        font-size: 2rem;
    }
}
